* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5; 
    color: #333;
}

/* HEADER */
.header {
    background-color: #2d2d2d;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.logo h1 {
    font-size: 20px;
}

.logo .icon {
    font-size: 22px;
}

.menu a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 16px;
    transition: 0.3s;
}

.menu a:hover {
    color: #6bc96b;
}

/* HERO */

.hero {

  background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)),

    url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6?auto=format&fit=crop&w=1400&q=80");

  background-size: cover;

  background-position: center;

  height: 350px;
  display: flex;

  justify-content: center;

  align-items: center;

}

.hero-content {

  text-align: center;

  color: white;

}

.hero-content h2 {

  font-size: 45px;

  font-weight: bold;

}

.hero-content p {

  margin-top: 10px;

  font-size: 18px;

}

/* SOBRE */

.sobre {

  background-color: #e9f2f1;

  padding: 60px 20px;

  text-align: center;

}

.sobre h2 {

  font-size: 35px;

  margin-bottom: 20px;

}

.sobre p {

  max-width: 850px;

  margin: auto;

  font-size: 18px;

  line-height: 1.6;

}

/* PILARES */

.pilares {

  padding: 60px 20px;

  text-align: center;

  background-color: #f8f8f8;

}

.pilares h2 {

  font-size: 32px;

  margin-bottom: 40px;

}

.cards {

  display: flex;

  justify-content: center;

  gap: 30px;

  flex-wrap: wrap;

}

.card {

  background: white;

  width: 280px;

  padding: 30px 20px;

  border-radius: 10px;

  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);

  transition: 0.3s;

}

.card:hover {

  transform: translateY(-8px);

}

.card-icon {

  font-size: 35px;

  margin-bottom: 15px;

  color: green;

}

.card h3 {

  font-size: 20px;

  margin-bottom: 10px;

}

.card p {

  font-size: 15px;

  line-height: 1.5;

}

/* CONTATO */

.contato {

  background-color: #2f6b3b;

  color: white;

  text-align: center;

  padding: 70px 20px;

}

.contato h2 {

  font-size: 38px;

  margin-bottom: 10px;

}

.contato p {

  font-size: 18px;

  margin-bottom: 25px;

}

.contato button {

  padding: 12px 30px;

  border: none;

  border-radius: 8px;

  background-color: white;

  color: #2f6b3b;

  font-size: 16px;

  cursor: pointer;

  font-weight: bold;

  transition: 0.3s;

}

.contato button:hover {

  background-color: #d7ffd7;

}

/* FOOTER */

.footer {

  background-color: #1e1e1e;

  color: white;

  text-align: center;

  padding: 15px;

  font-size: 14px;

}