* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5; 
    color: #333;
}

/* HEADER */
.header {
    background-color: #2d2d2d;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.logo h1 {
    font-size: 20px;
}

.logo .icon {
    font-size: 22px;
}

.menu a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 16px;
    transition: 0.3s;
}

.menu a:hover {
    color: #6bc96b;
}